.darkPage {
  display: block;
  height: calc(100vh - 140px);
  background: linear-gradient(to bottom, #1a1a1a 50%, #181A20 56%);
  color: cornsilk;
}

.lightPage {
  display: block;
  height: calc(100vh - 140px);
  background: none;
  background: linear-gradient(to bottom, #f1f1f1 0%, #f3f3f3 76%);
  color: #000000;
}

.darkHeader{
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-left: 20px;
  padding-right: 23px;
  background-color: #1a1a1a;
  color: cornsilk;
  font-weight: 600;
}

.lightHeader{ 
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-left: 20px;
  padding-right: 23px;
  background-color: white;
  color: #000000;
  font-weight: 600;
}


.darkFooter{
  display: flex;
  height: 140px;
  background-color: #1a1a1a;
  color: cornsilk;
}
.lightFooter{
  display: flex;
  height: 140px;
  background-color: white;
  color: #000000;
}
