.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh; /* Заставляет контейнер занимать всю высоту экрана */
  background-image: url('../../logo/LogoSpace.jfif');
  background-size: cover;
  color: inherit;
}

.textPage {
  color: white;
  margin: auto;
}

.windowForChat {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  max-height: 300px;
  min-height: 60vh; /* Минимальная высота для заполнения экрана */
  padding-bottom: 20px;
  overflow-y: auto; /* Вертикальная прокрутка */
  overflow-x: hidden;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.5); /* Цвет фона */
  border-radius: 8px;

  /* Уменьшаем ширину прокрутки */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #5a5a5a #2a2a2a; /* Firefox */

  /* Webkit (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 8px; /* Сделаем полосу тоньше */
  }

  ::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #7a7a7a; /* Цвет "ползунка" при наведении */
  }
}

.message {
  display: block;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  color: cornsilk;
  flex-shrink: 0;
  width: 60%; 
  font-size: 12px;
}

.currentUser {
  align-self: flex-start;
  background-color: #181917;
}

.otherUser {
  align-self: flex-end;
  background-color: rgba(27, 27, 28, 0.4);
}

.currentUser::after {
  left: 100%;
  border-left-color: #dcf8c6;
}

.otherUser::after {
  right: 100%;
  border-right-color: #e9e9eb;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input[type="text"] {
  margin-right: 10px;
  outline: none;
  border: none;
  background-color: #3a2838;
  color: cornsilk;
  font-size: 16px;
  height: 98%;
  width: 100%;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #3a2838;
  color: cornsilk;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #594040;
}

.wrapperButtons {
  display: flex;
  justify-content: space-around;
  width: 400px;
  height: 70px;
  margin-bottom: 10px;
}

.buttonUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;

  color: white;
  background-color: rgba(255, 255, 255, 0.166);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonUser:hover {
  background-color: #3a2838;
}

.messageContainer {
  display: flex;
  justify-content: space-between; /* Разделяет текст и время по сторонам */
  align-items: center;
  width: 100%;
}

.textMessage {
  display: flex;
  align-items: center;
  margin: 0;
  word-break: break-word; 
  flex: 1;
}

.timestamp {
  font-size: 12px; /* Меньший размер шрифта */
  color: #888; /* Светлый цвет для времени */
  margin-left: 12px; /* Отступ от текста */
  margin-top: 26px;
  white-space: nowrap; /* Предотвращает перенос времени на новую строку */
}

.imgUser {
  margin-right: 8px;
  margin-bottom: 5px;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  cursor: pointer;
  background-size: cover;
  background-position: center; 
}

.inputWrapper {
  display: flex;
  margin-left: 240px;
  height: 36px;
  flex: 0.7;
  padding: 1px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  outline: none;
  border: none;
  background-color: #3a2838;
  color: cornsilk;
  font-size: 16px;
}

/* Медиа-запросы для маленьких экранов */
// @media (max-width: 768px) {
//   .windowForChat {
//     max-height: 200px; /* Уменьшаем высоту чата для мобильных устройств */
//     min-height: 50vh; /* Обеспечиваем большую минимальную высоту */
//     padding-bottom: 5px;
//   }

//   .wrapperButtons {
//     width: 100%; /* Ширина кнопок на 100% */
//   }

//   .inputWrapper {
//     margin-left: 0; /* Убираем отступ слева */
//     width: 100%; /* Увеличиваем ширину ввода */
//   }

//   .message {
//     width: 90%; /* Увеличиваем ширину сообщения для мобильных устройств */
//     font-size: 14px; /* Увеличиваем размер шрифта */
//   }

//   .textPage {
//     font-size: 16px; /* Увеличиваем размер шрифта текста страницы */
//   }


//   .message {
//     display: block;
//     margin: 5px;
//     padding: 8px 16px; /* Уменьшено отступы внутри сообщения */
//     border-radius: 15px; /* Уменьшен радиус скругления */
//     word-wrap: break-word;
//     white-space: pre-wrap;
//     position: relative;
//     color: cornsilk;
//     flex-shrink: 0;
//     width: 60%; 
//     font-size: 11px; /* Уменьшен размер шрифта */
//   }
  
//   .imgUser {
//     margin-right: 6px; /* Уменьшены отступы */
//     margin-bottom: 5px;
//     position: relative;
//     width: 30px; /* Уменьшен размер иконки */
//     height: 30px; /* Уменьшен размер иконки */
//     border-radius: 50px;
//     cursor: pointer;
//     background-size: cover;
//     background-position: center; 
//   }
  
//   .inputWrapper {
//     display: flex;
//     // margin-left: 160px; /* Уменьшен отступ слева для мобильных устройств */
//     height: 32px; /* Уменьшена высота ввода */
//     flex: 0.7;
//     padding: 1px;
//     border: 2px solid #ccc;
//     border-radius: 15px; /* Уменьшен радиус скругления */
//     margin-right: 10px;
//     outline: none;
//     border: none;
//     background-color: #3a2838;
//     color: cornsilk;
//     font-size: 14px; /* Уменьшен размер шрифта */
//   }

// }
@media (max-width: 768px) {
  .container {
    padding: 10px;
    width: 100%;
    min-height: 100vh; /* Убедимся, что контейнер растягивается на всю высоту экрана */
    display: flex;
    flex-direction: column;
  }

  .windowForChat {
    max-width: 100%;
    min-height: 50vh; /* Увеличенная минимальная высота */
    max-height: 60vh; /* Установка максимальной высоты */
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .textPage {
    font-size: 14px; /* Уменьшение шрифта для мобильных устройств */
    padding: 10px;
    text-align: center;
  }

  .wrapperButtons {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .buttonUser {
    flex: 1 1 45%; /* Две кнопки в строке */
    margin: 5px;
    font-size: 14px;
  }

  .message {
    width: 85%;
    font-size: 12px;
    padding: 8px 14px;
    margin: 5px 0;
    border-radius: 12px;
  }

  .currentUser,
  .otherUser {
    width: fit-content;
    font-size: 12px;
  }

  .imgUser {
    width: 25px;
    height: 25px;
    margin-right: 6px;
  }

  .inputWrapper {
    width: 100%;
    margin: 0 auto;
    padding: 6px;
    border-radius: 15px;
    font-size: 14px;
  }

  .input[type="text"] {
    font-size: 14px;
    padding: 8px;
    width: 100%;
  }

  input[type="submit"] {
    padding: 8px 16px;
    font-size: 14px;
  }
}
