.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh; /* Заставляет контейнер занимать всю высоту экрана */
  background-image: url('../../logo/LogoSpace.jfif');
  background-size: cover;
  color: inherit;
}

.textPage {
  color: white;
  margin: auto;
}

.windowForChat {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 55vh; /* Сниженная минимальная высота */
  max-height: 65vh; /* Сниженная максимальная высота */
  padding-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  border-radius: 8px; /* Опционально: скругленные углы */




  /* Уменьшаем ширину прокрутки */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #5a5a5a #2a2a2a; /* Firefox */

  /* Webkit (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 8px; /* Сделаем полосу тоньше */
  }

  ::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #7a7a7a; /* Цвет "ползунка" при наведении */
  }
}

.message {
  display: block;
  margin: 3px;
  padding: 2px 4px;
  border-radius: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  color: cornsilk;
  flex-shrink: 0;
  width: 40%; 
  font-size: 10px;
}

.currentUser {
  align-self: flex-start;
  margin-left: 250px;
  background-color: #181917;
}

.otherUser {
  align-self: flex-end;
  margin-right: 250px;
  background-color: rgba(27, 27, 28, 0.4);
}

.currentUser::after {
  left: 100%;
  border-left-color: #dcf8c6;
}

.otherUser::after {
  right: 100%;
  border-right-color: #e9e9eb;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 5px;
}

.input[type="text"] {
  margin-right: 10px;
  outline: none;
  border: none;
  background-color: #3a2838;
  color: cornsilk;
  font-size: 16px;
  height: 98%;
  width: 100%;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #3a2838;
  color: cornsilk;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #594040;
}

.wrapperButtons {
  display: flex;
  justify-content: space-around;
  width: 400px;
  height: 70px;
  margin-bottom: 10px;
}

.buttonUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;

  color: white;
  background-color: rgba(255, 255, 255, 0.166);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonUser:hover {
  background-color: #3a2838;
}

.messageContainer {
  display: flex;
  justify-content: space-between; /* Разделяет текст и время по сторонам */
  align-items: center;
  width: 100%;
}

.textMessage {
  display: flex;
  align-items: center;
  margin: 0;
  word-break: break-word; 
  flex: 1;
}

.timestamp {
  font-size: 10px; /* Меньший размер шрифта */
  color: #888; /* Светлый цвет для времени */
  margin-left: 12px; /* Отступ от текста */
  margin-top: 26px;
  white-space: nowrap; /* Предотвращает перенос времени на новую строку */
}

.imgUser {
  margin-right: 8px;
  margin-bottom: 5px;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  background-size: cover;
  background-position: center; 
}

.inputWrapper {
  display: flex;
  margin-left: 240px;
  height: 36px;
  flex: 0.7;
  padding: 1px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  outline: none;
  border: none;
  background-color: #3a2838;
  color: cornsilk;
  font-size: 16px;
}


@media (max-width: 768px) {
  .container {
    display: flex;
    padding: 10px; /* Уменьшение отступов */
  }

  .textPage {
    font-size: 13px; /* Уменьшение размера шрифта */
  }



  .wrapperButtons {
    display: flex;
    justify-content: space-around; /* Распределяем кнопки равномерно */
    width: 70%; /* Ширина кнопок 100% */
    flex-wrap: wrap; /* Перенос кнопок на новую строку */
    margin-bottom: 3px; /* Отступ снизу */
  }

  .buttonUser {
    display: flex;
    flex-direction: column; /* Вертикальное расположение кнопок */
    align-items: center;
    padding: 1px 2px; /* Уменьшение отступов */
    font-size: 11px; /* Уменьшение размера шрифта */
    margin: 5px; /* Увеличение отступа между кнопками */
    flex: 1; /* Даем кнопкам равные размеры */
    max-width: 65px; /* Устанавливаем максимальную ширину для кнопок */
    background-color: rgba(255, 255, 255, 0.166); /* Полупрозрачный фон */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамки */
    border-radius: 5px; /* Сглаживание углов */
    cursor: pointer; /* Указываем, что кнопка кликабельна */
    transition: background-color 0.3s; /* Плавный переход фона при наведении */
  }

  .buttonUser:hover {
    background-color: #3a2838; /* Цвет при наведении */
  }
  .imgUser {
    margin-right: 8px;
    margin-bottom: 5px;
    position: relative;
    width: 20px; /* Уменьшение размера изображения пользователя */
    height: 20px; /* Уменьшение размера изображения пользователя */
    border-radius: 50px; /* Сглаживание изображения */
  }






  .windowForChat {
    min-height: 50vh; /* Минимальная высота чата */
    max-height: 60vh; /* Максимальная высота чата */
    padding-bottom: 5px; /* Уменьшение отступа снизу */
  }

  .message {
    padding: 4px 8px; /* Уменьшение отступов внутри сообщения */
    font-size: 10px; /* Размер шрифта */
    width: 5%; /* Ширина сообщения */
  }

  .currentUser {
    align-self: flex-start;
    margin-left: 2px; /* Сокращение отступа слева */
    background-color: #181917;
  }

  .otherUser {
    align-self: flex-end;
    margin-right: 2px; /* Сокращение отступа справа */
    background-color: rgba(27, 27, 28, 0.4);
  }


  .messageContainer {
    display: flex;
    justify-content: space-between; /* Разделяет текст и время по сторонам */
    align-items: center;
    width: 100%;
  }

  .textMessage {
    display: flex;
    align-items: center;
    margin: 0;
    word-break: break-word; 
    flex: 1;
  } 

  .timestamp {
    font-size: 8px; /* Уменьшение размера шрифта для времени */
    color: #888; /* Светлый цвет для времени */
    margin-left: 12px; /* Отступ от текста */
    margin-top: 26px;
    white-space: nowrap; /* Предотвращает перенос времени на новую строку */
  }















  .form {
    margin-top: 5px; /* Уменьшение отступа сверху */
  }

  .input[type="text"] {
    font-size: 11px; /* Уменьшение размера шрифта */
  }

  input[type="submit"] {
    padding: 6px 10px; /* Уменьшение отступов */
    font-size: 12px; /* Уменьшение размера шрифта */
  }
  .inputWrapper {
    display: flex;
    margin-left: 0; /* Убрать отступ слева */
    height: 36px;
    flex: 1; /* Позволить полю ввода занимать больше места */
    padding: 1px;
    border: 2px solid #ccc; /* Рамка поля ввода */
    border-radius: 20px; /* Сглаживание углов */
    margin-right: 5px; /* Уменьшение отступа справа */
    outline: none; /* Убираем обводку */
    background-color: #3a2838; /* Цвет фона */
    color: cornsilk; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
  }
  
}
