.containerDiamond{
  width: 10%;
}
.linkDiamond{
  display:flex;
  align-items: flex-end;
}   
.logoDiamond{
  width: 45px;
  height: 45px;
}
.textDiamond{
  margin: 0;
  font-size: inherit;
}




.containerNav{
  width: 70%;
}
.containerUl{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
  color: inherit;
}
.linkNav{
  font-weight: 500;
}



.containerLogIn{
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
}
.textLogIn{
  min-width: 50px;
  margin-right: 15px;
  font-size: inherit;
}
.btnSignUp{
  width: 85px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items:center;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  background: #FCD535;
  text-align: center;
  font-weight: 550;
  cursor: pointer;
}
.btnSignUp:hover{
  background: #fcd435a7;
}
.logoSunMoon{
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 15px 15px;
  cursor: pointer;
}
.logoSunMoon:hover{
  background: gold;
}

.logoBtn{
  width: 19px;
  height: 19px;
}


.generalHover:hover{
  color: #FCD535;
}

