
  .container{
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }
  .form{
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .label{
    height: 85px;
    width: 200px;
    display: flex;
    flex-direction: column;
  }

 
 
  .inputBox {
    position: relative;
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: inherit;
    border: 1px solid #ee8456;
    font-size: 1em;
    transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
}
.inputBox::placeholder {
    color: #999;
    transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
}
.inputBox:focus::placeholder {
    position: absolute;
    font-size: 0.7em;
    transform: translateX(1px) translateY(-7.5px);
    padding: 0 5px;
    border-radius: 2px;
    background: #212121;
    letter-spacing: 0em;
    border: 1px solid #ee8456;
    color: #999; /* Сохраняем цвет текста подсказки */
}


.btnSubmit{
  width: 235px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background: #FCD535;
  color: inherit;
  cursor: pointer;
  font-size: 20px;
}
.btnSubmit:hover{
  background: #fcd435a7;
}


.errorMessage{
  // position: absolute;
  bottom: 10px;
  font-size: 14px;
}
