.btnToGitHub{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 300px;
  height: 35px;
  margin-top: 10px;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
 
}

.imgLogoWhiteDiamond{
  width: 24px;
  height: 24px;
 
}

.textBtn{
  color: inherit;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: inherit;
}